@import "tailwindcss";

:root {
  color-scheme: dark;           
  --background: #1f1c1c;       
  --foreground: #10c9c9;    
  --hover: #22FFFF;
}

body {
  background: var(--background);
  color: var(--foreground);
}