@import "tailwindcss";




@import "tailwindcss";


:root {
  color-scheme: dark;           
  --background: #131111;       
  --foreground: #ededed;    
}

body {
  background: var(--background);
  color: var(--foreground);
}